*
{
  margin:0;
  padding:0;
  border: none;
  outline: none;
}

body{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Playfair Display', serif;
    font-family: 'Old Standard TT', serif;
    color: #383d57;
    background: #ffffff;
}

h1 {
    font-family: 'Playfair Display', serif;
    font-weight: lighter;
    text-align: center;
    font-size: 50px;
    color: #383d57;
    padding-bottom: 10%;
    padding-top: 8vh;
}

h2 {
    font-family:'Open Sans', sans-serif;
    font-weight: lighter;
    color: #383d57;
}

h3 {
    font-family:'Open Sans', sans-serif;
    font-weight: lighter;
    color: #383d57
}

p {
    font-family:'Open Sans', sans-serif;
    font-weight: lighter;
    text-decoration: none;
    color: #383d57;
    padding-bottom: 5px;
}

a {
    font-family:'Open Sans', sans-serif;
    font-weight: normal;
    text-decoration: none;
    color: #224155
}

/************* coloured block components ************/

.colour {
    background: #7c9ab2;
    background: linear-gradient(180deg, rgba(78,107,129,1) 5%, rgba(255,255,255,1) 100%);
    height: 100vh;
}

.colour h1 {
    color: #ffffff;
}

.colour p {
    color: #ffffff;
}

.colour h2 {
    color: #ffffff;
}

.colour h3 {
    color: #ffffff;
}

.endColour {
    background: linear-gradient(0deg, rgba(78,107,129,1) 0%, rgba(255,255,255,1) 90%);
}

/************* header components *************/

.header {
    text-align: right;
    color: #383d57;
    background-image: url(Images/IMG_7670.jpg);
    background-attachment: fixed;
    position: relative;
    min-height: 300px;
    min-width: auto;
    width: auto;
    height: 100vh;
    background-size: cover;
}

.header h1 {
    text-align: right;
    text-shadow: 0px 2px 10px #8999a5;
    padding-left: 80px;
    padding-right: 80px;
    font-size: 8vh;
    padding-top: 8vh;
    padding-left: 0px;
    padding-bottom: 0px;
}

.header h2 {
    color: #4c341f;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 0px;
    font-size: 4vh;
    letter-spacing: 2px;
}

/************ navbar components ************/ 
.navbar {
    overflow: hidden;
    background-color: #4e6b81;
    width: 100%;
    text-align: center;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 100;
}

.navbar a {
    float: left;
    display: block;
    color: #ffffff;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
    letter-spacing: 2px;
    padding: 15px;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar a:hover {
    color: #4e6b81;
    background-color: #e5eff7;
}

/************* about components *************/

.about {
    padding: 10%;
    text-align: center;
}

/************ education components ************/

.education {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-bottom: 10%;
}

.school {
    padding-top: 0%;
    text-align: center;
    width: 40%;
}

.school img {
    width:auto;
    height:auto;
    max-height:30%;
    max-width:30%;
    vertical-align: middle;
}

/************* projects components *************/

.projects {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    justify-content: center;
    overflow: hidden;
}

.projects h2 {
    font-size: 20px;
    font-weight: lighter;
    text-decoration: none;
    padding-left: 0px;
}

.proj {
    position: relative;
    width: 30%;
    padding-bottom: 30%;
    color: #383d57;
}

.proj p {
    margin-left: 10%;
    margin-right: 10%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    color: #ffffff;
}

.projContent {
    position: absolute;
    height: 90%;
    width: 90%;
    padding: 5%;
}

.projContent img {
    width: auto;
    height: auto;
    max-height: 80%;
    max-width: 80%;
}

.projOverlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #4e6b81;
}
  
.proj:hover .projOverlay {
    opacity: 1;
}

/************ experience components ************/

.experience {
    display: flex;
    flex-wrap: wrap;
    /* padding-bottom: 10%; */
    justify-content: center;
}

.job {
    padding-top: 7%;
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
    position: relative;
}


.job h1 {
    font-family: 'Open Sans', sans-serif;
    padding: 0;
    font-size: 30px;
    font-weight: normal;
}

.job img {
    width: 100px;
    height: auto;
    vertical-align: middle;
    padding-bottom: 5px;
}

/************ accomplishment components ************/

.accomplishment {
    margin-bottom: 10%;
    width: 30%;
    text-decoration: none;
    color: #383d57;
    transition: all 0.3s;
}

.accomplishment:hover img{
    transition: all 0.3s;
    -webkit-filter: blur(4px);
    filter: blur(4px);
}

.accomplishment:hover h2, .accomplishment:hover h3{
    transition: all 0.3s;
    color: #99c0e0;
}

/************ social components ************/

.sociallinks {
    text-align: center;
    padding-bottom: 5%;
    padding-top: 10%;
}

.sociallinks h1 {
    padding-top: 0%;
}

.sociallinks p {
    text-align: center;
    text-decoration: none;
    color: #383d57;
}

.sociallinks img {
    width: 3%;
    height: auto;
    padding-left: 4%;
    padding-right: 4%;
    padding-top: 2%;
}

/*********** popup stuff ***********/

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 40%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h1 {
  margin-top: 0;
  padding: 0;
  padding-bottom: 10px;
  text-align: left;
  font-size: 30px;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #383d57;
}
.popup .close:hover {
  color: #4e6b81;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}

@media screen and (max-width: 700px){
  .popup{
    width: 70%;
  }
}